@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;300&family=Raleway:wght@400;700&display=swap');

$section-title-color: #343434;
$p-color: #717171;
$base-color: #e7434e;

/* CSS reset */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

button {
    border: transparent;
}

/* Hero Section */
@media screen and (min-width: 1024px) {
    .hero {
        width: 100%;
        height: 100vh;
        background-image: url('../images/background@2x.png');
        background-repeat: no-repeat;
        color: #fff;
        background-size: cover;
    
        .navbar {
            position: relative;
    
            img {
                position: absolute;
                top: 2em;
                left: 2em;
                width: 345px;
            }
    
            a {
                position: absolute;
                top: 1em;
                right: 2em;
                font-size: 1.4rem;
                text-transform: uppercase;
                color: #fff;
                border: 1px solid #fff;
                border-radius: 5px;
                padding: 10px 25px;
            }
        }

        .wrapper {
            text-transform: uppercase;
            text-align: center;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .home-title {
                h1 {
                    font-size: 4rem;
                }

                h2 {
                    font-size: 2rem;
                }
            }

            .search-bar {
                margin-top: 90px;

                input {
                    width: 420px;
                    height: 50px;

                    &::placeholder {
                        padding-left: 15px;
                        text-transform: uppercase;
                    }
                }

                button {
                    height: 50px;
                    width: 160px;
                    text-transform: uppercase;
                    border-radius: 5px;
                    background-color: $base-color;
                    color: #fff;
                }
            }
        }
    }
}

/* Hero Section (Mobile) */
@media screen and (max-width: 768px) {
    .hero {
        background-image: url('../images/background@2x.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .navbar {
            display: flex;

            .logo {
                width: 350px;
                margin-bottom: 100px;
            }

            .signup {
                color: #fff;
                border: 1px solid #fff;
                border-radius: 5px;
                text-transform: uppercase;
                padding: 11px 18px;
                font-size: 1.1rem;
                position: absolute;
                right: 3em;
                top: 1em;
            }
        }

        .wrapper {
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            
            .home-title {
                h1 {
                    font-size: 3.4rem;
                }
                
                h2 {
                    font-size: 1.2rem;
                }
            }

            .search-bar {
                margin-top: 80px;

                input {
                    width: 320px;
                    height: 35px;

                    &::placeholder {
                        font-size: .7rem;
                        padding-left: 10px;
                        text-transform: uppercase;
                    }
                }

                button {
                    font-size: .7rem;
                    background-color: $base-color;
                    color: #fff;
                    text-transform: uppercase;
                    width: 130px;
                    height: 35px;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
        }
    }
}

/* Hero Section (Tablet) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hero {
        background-size: cover;
        background-image: url('../images/background@2x.png');
        background-repeat: no-repeat;
        
        .navbar {    
            position: relative;
            
            img {
                width: 290px;
                left: 2em;
                top: 2em;
                position: absolute;
                
            }
            
            a {
                position: absolute;
                right: 1.5em;
                top: 1.4em;
                color: #fff;
                font-size: 1.2rem;
                text-transform: uppercase;
                border: 1px solid #fff;
                border-radius: 5px;
                padding: 8px 30px;
            }
        }
        
        .wrapper {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            text-transform: uppercase;
            
            .home-title {
                color: #fff; 

                h1 {
                    font-size: 3rem;
                }

                h2 {
                    font-size: 1.5rem;
                }
            }

            .search-bar {
                margin-top: 90px;

                input {
                    width: 320px;
                    height: 40px;

                    &::placeholder {
                        padding-left: 10px;
                        text-transform: uppercase;
                    }
                }

                button {
                    height: 40px;
                    width: 130px;
                    text-transform: uppercase;
                    border-radius: 5px;
                    background-color: $base-color;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}

/* Destination Section (Mobile) */ 
@media screen and (max-width: 768px) {
    .destination {
        max-width: 100%;

        .wrapper {
            margin: 15% 13%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .section-title {
            text-align: center;
            
            h1 {
                font-family: 'Raleway', sans-serif;
                text-transform: uppercase;
                color: $section-title-color;
                font-size: 1.6rem;
                font-weight: 300;
                padding-bottom: 10px;
            }

            h2 {
                font-family: 'Open Sans', sans-serif;
                color: $p-color;
                font-size: .9rem;
                font-weight: 300;
                padding-top: 5px;
            }
        }

        .section-grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: minmax(300px, auto);
            margin-top: 45px;
            gap: 20px;

            .dest-item {
                background-size: cover;
                border-radius: 5px;
                padding-top: 10px;
                padding-bottom: 10px;
                position: relative;
                font-family: 'Raleway', sans-serif;
                font-weight: 300;
                color: #fff;

                &::before {
                    content: '';
                    background-color: #000;
                    opacity: .7;
                }

                .dest-follower {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $base-color;
                    position: absolute;
                    left: 10px;
                    width: 55px;
                    height: 35px;
                    border-radius: 5px;
                    font-size: .8rem;
                }

                h1 {
                    position: absolute;
                    left: 10px;
                    top: 70%;
                    font-size: 1.7rem;
                }

                h2 {
                    position: absolute;
                    left: 10px;
                    top: 83%;
                    font-size: 1.2rem;
                }
            }
            
            #dest-1 {
                background-image: url('../images/figueria_m1@2x.png');
            }

            #dest-2 {
                background-image: url('../images/ibiza_m3@2x.png');
            }

            #dest-3 {
                background-image: url('../images/palma_m3@2x.png');
            }

            #dest-4 {
                background-image: url('../images/portofino_m4@2x.png');
            }

            #dest-5 {
                background-image: url('../images/hercules_m6@2x.png');
            }
        }

        .expand {
            display: flex;
            justify-content: center;
            
            .expand-btn {
                text-align: center;
                text-transform: uppercase;
                cursor: pointer;
                color: $p-color;
                border: 1px solid $p-color;
                border-radius: 5px;
                background-color: transparent;
                width: 240px;
                height: 45px;
                font-size: .7rem;
                margin-top: 40px;
            }
        }
    }
}

/* Destination Section (Tablet) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .destination {
        max-width: 100%;

        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 12% 13%;

            .section-title {
                text-align: center;

                h1 {
                    font-family: 'Raleway', sans-serif;
                    font-size: 1.9rem;
                    font-weight: 300;
                    text-transform: uppercase;
                    padding-bottom: 15px;
                }

                h2 {
                    font-family: 'Open Sans', sans-serif;
                    color: $p-color;
                    font-size: 1.3rem;
                    font-weight: 300;
                    padding-top: 5px;
                }
            }

            .section-grid {
                display: grid;
                grid-template-columns: minmax(450px, 750px);
                grid-auto-rows: minmax(350px, auto);
                margin-top: 55px;
                gap: 20px;
                
                .dest-item {
                    background-size: cover;
                    border-radius: 5px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 300;
                    padding-bottom: 15px;
                    padding-top: 15px;
                    position: relative;
                    color: #fff;

                    .dest-follower {
                        display: flex;
                        justify-self: center;
                        align-items: center;
                        background-color: $base-color;
                        width: 65px;
                        height: 35px;
                        border-radius: 5px;
                        font-size: .9rem;
                        position: absolute;
                        left: 15px;
                    }   

                    h1 {
                        position: absolute;
                        left: 15px;
                        top: 70%;
                        font-size: 2rem;
                    }

                    h2 {
                        position: absolute;
                        left: 15px;
                        top: 83%;
                        font-size: 1.5rem;
                    }
                }

                #dest-1 {
                    background-image: url('../images/figueria_m1@2x.png');
                }

                #dest-2 {
                    background-image: url('../images/ibiza_m3@2x.png');
                }
    
                #dest-3 {
                    background-image: url('../images/palma_m3@2x.png');
                }
    
                #dest-4 {
                    background-image: url('../images/portofino_m4@2x.png');
                }
    
                #dest-5 {
                    background-image: url('../images/hercules_m6@2x.png');
                }
            }

            .expand {
                display: flex;
                justify-content: center;
                
                .expand-btn {
                    text-align: center;
                    text-transform: uppercase;
                    cursor: pointer;
                    color: $p-color;
                    border: 1px solid $p-color;
                    border-radius: 5px;
                    background-color: transparent;
                    width: 300px;
                    height: 50px;
                    font-size: .8rem;
                    margin-top: 70px;
                }
            }
        }
    }
}

/* Destination Section (Desktop) */
@media screen and (min-width: 1024px) {
    .destination {
        max-width: 100%;

        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 12% 13%;

            .section-title {
                text-align: center;

                h1 {
                    font-family: 'Raleway', sans-serif;
                    font-size: 1.9rem;
                    font-weight: 300;
                    text-transform: uppercase;
                    padding-bottom: 15px;
                }

                h2 {
                    font-family: 'Open Sans', sans-serif;
                    color: $p-color;
                    font-size: 1.3rem;
                    font-weight: 300;
                    padding-top: 5px;
                }
            }

            .section-grid {
                display: grid;
                grid-template-columns: repeat(2, minmax(450px, 1200px));
                grid-auto-rows: minmax(350px, auto);
                margin-top: 55px;
                gap: 20px;
                
                .dest-item {
                    background-size: 100% 100%;
                    background-position: center;
                    border-radius: 5px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 300;
                    padding-bottom: 15px;
                    padding-top: 15px;
                    position: relative;
                    color: #fff;
                    
                    &:hover {
                        animation: move_up .2s ease-out forwards;
                    }

                    .dest-follower {
                        display: flex;
                        justify-self: center;
                        align-items: center;
                        background-color: $base-color;
                        width: 70px;
                        height: 40px;
                        border-radius: 5px;
                        font-size: .9rem;
                        position: absolute;
                        left: 15px;
                    }   

                    h1 {
                        position: absolute;
                        left: 15px;
                        top: 70%;
                        font-size: 2rem;
                    }

                    h2 {
                        position: absolute;
                        left: 15px;
                        top: 83%;
                        font-size: 1.5rem;
                    }
                }

                #dest-1 {
                    background-image: url('../images/figueria_m1@2x.png');
                }

                #dest-2 {
                    background-image: url('../images/ibiza_m3@2x.png');
                }
    
                #dest-3 {
                    background-image: url('../images/palma_m3@2x.png');
                }
    
                #dest-4 {
                    background-image: url('../images/portofino_m4@2x.png');
                }
    
                #dest-5 {
                    background-image: url('../images/hercules_m6@2x.png');
                }
            }

            .expand {
                display: flex;
                justify-content: center;
                
                .expand-btn {
                    text-align: center;
                    text-transform: uppercase;
                    cursor: pointer;
                    color: $p-color;
                    border: 1px solid $p-color;
                    border-radius: 5px;
                    background-color: transparent;
                    width: 300px;
                    height: 50px;
                    font-size: .8rem;
                    margin-top: 70px;
                }
            }
        }
    }
}

/* Subsection Mobile */
@media screen and (max-width: 768px) {
    .sub {
        max-width: 100%;
        text-align: center;
        text-transform: uppercase;
        background-image: url('../images/background2@2x.png');
        color: #fff;
        
        .wrapper {
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                font-family: 'Raleway', sans-serif;
                letter-spacing: 5.8px;
                font-size: 1.8rem;
                padding-bottom: 8px;
            }

            h2 {
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                line-height: 22px;
                letter-spacing: 1.2px;
                font-size: .8rem;
            }
        }
        .submitBtn {
            margin-top: 45px;

            button {
                background-color: $base-color;
                color: #fff;
                text-transform: uppercase;
                line-height: 22px;
                letter-spacing: .56px;
                font-size: .75rem;
                width: 270px;
                height: 45px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}

/* Subsection (Tablet) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .sub {
        max-width: 100%;
        text-align: center;
        text-transform: uppercase;
        background-image: url('../images/background2@2x.png');
        color: #fff;
        
        .wrapper {
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                font-family: 'Raleway', sans-serif;
                letter-spacing: 5.8px;
                font-size: 2.3rem;
                padding-bottom: 8px;
            }

            h2 {
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                line-height: 22px;
                letter-spacing: 1.8px;
                font-size: .8rem;
            }
        }
        .submitBtn {
            margin-top: 45px;

            button {
                background-color: $base-color;
                color: #fff;
                text-transform: uppercase;
                line-height: 22px;
                letter-spacing: .56px;
                font-size: .9rem;
                width: 320px;
                height: 50px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}

/* Subsection (Desktop) */
@media screen and (min-width: 1024px) {
    .sub {
        max-width: 100%;
        text-align: center;
        text-transform: uppercase;
        background-image: url('../images/background2@2x.png');
        color: #fff;
        
        .wrapper {
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                font-family: 'Raleway', sans-serif;
                letter-spacing: 5.8px;
                font-size: 3rem;
                padding-bottom: 8px;
            }

            h2 {
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                line-height: 22px;
                letter-spacing: 1.2px;
                font-size: 1.3rem;
            }
        }
        .submitBtn {
            margin-top: 45px;

            button {
                background-color: $base-color;
                color: #fff;
                text-transform: uppercase;
                line-height: 22px;
                letter-spacing: .56px;
                font-size: 1rem;
                width: 370px;
                height: 55px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}

/* Boat Section (Mobile) */
@media screen and (max-width: 768px) {
    .boat {
        max-width: 100%;

        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 12% 13%;

            .section-title {
                text-align: center;

                h1 {
                    font-family: 'Raleway', sans-serif;
                    font-size: 1.9rem;
                    font-weight: 300;
                    text-transform: uppercase;
                    padding-bottom: 15px;
                }

                h2 {
                    font-family: 'Open Sans', sans-serif;
                    color: $p-color;
                    font-size: 1.3rem;
                    font-weight: 300;
                    padding-top: 5px;
                }
            }

            .section-grid {
                display: grid;
                grid-template-columns: repeat(1, minmax(450px, 1200px));
                grid-auto-rows: minmax(350px, auto);
                margin-top: 55px;
                gap: 20px;
                
                .boat-item {
                    background-size: 100% 100%;
                    background-position: center;
                    border-radius: 5px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 300;
                    padding-bottom: 15px;
                    padding-top: 15px;
                    position: relative;
                    color: #fff;
                    
                    &:hover {
                        animation: move_up .2s ease-out forwards;
                    }

                    .boat-follower {
                        display: flex;
                        justify-self: center;
                        align-items: center;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 700;
                        background-color: $base-color;
                        width: 70px;
                        height: 40px;
                        border-radius: 5px;
                        font-size: .7rem;
                        position: absolute;
                        left: 15px;
                    }   

                    h1 {
                        font-family: 'Raleway', sans-serif;
                        font-weight: 300;
                        position: absolute;
                        left: 15px;
                        top: 70%;
                        font-size: 2rem;
                    }

                    h2 {
                        position: absolute;
                        left: 15px;
                        top: 83%;
                        font-size: 1rem;
                    }
                }

                #boat-1 {
                    background-image: url('../images/boat@2x.png');
                }

                #boat-2 {
                    background-image: url('../images/boat@2x.png');
                }
    
                #boat-3 {
                    background-image: url('../images/boat@2x.png');
                }
    
                #boat-4 {
                    background-image: url('../images/boat@2x.png');
                }
            }

            .expand {
                display: flex;
                justify-content: center;
                
                .expand-btn {
                    text-align: center;
                    text-transform: uppercase;
                    cursor: pointer;
                    color: $p-color;
                    border: 1px solid $p-color;
                    border-radius: 5px;
                    background-color: transparent;
                    width: 300px;
                    height: 50px;
                    font-size: .8rem;
                    margin-top: 70px;
                }
            }
        }
    }
}

/* Boat Section (Tablet) */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .boat {
        max-width: 100%;

        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 12% 13%;

            .section-title {
                text-align: center;

                h1 {
                    font-family: 'Raleway', sans-serif;
                    font-size: 2.2rem;
                    font-weight: 300;
                    text-transform: uppercase;
                    padding-bottom: 15px;
                }

                h2 {
                    font-family: 'Open Sans', sans-serif;
                    color: $p-color;
                    font-size: 1.7rem;
                    font-weight: 300;
                    padding-top: 5px;
                }
            }

            .section-grid {
                display: grid;
                grid-template-columns: repeat(1, minmax(450px, 1200px));
                grid-auto-rows: minmax(350px, auto);
                margin-top: 55px;
                gap: 20px;
                
                .boat-item {
                    background-size: 100% 100%;
                    background-position: center;
                    border-radius: 5px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 300;
                    padding-bottom: 15px;
                    padding-top: 15px;
                    position: relative;
                    color: #fff;
                    
                    &:hover {
                        animation: move_up .2s ease-out forwards;
                    }

                    .boat-follower {
                        display: flex;
                        justify-self: center;
                        align-items: center;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 700;
                        background-color: $base-color;
                        width: 70px;
                        height: 40px;
                        border-radius: 5px;
                        font-size: .7rem;
                        position: absolute;
                        left: 15px;
                    }   

                    h1 {
                        font-family: 'Raleway', sans-serif;
                        font-weight: 300;
                        position: absolute;
                        left: 15px;
                        top: 70%;
                        font-size: 2rem;
                    }

                    h2 {
                        position: absolute;
                        left: 15px;
                        top: 83%;
                        font-size: 1rem;
                    }
                }

                #boat-1 {
                    background-image: url('../images/boat@2x.png');
                }

                #boat-2 {
                    background-image: url('../images/boat@2x.png');
                }
    
                #boat-3 {
                    background-image: url('../images/boat@2x.png');
                }
    
                #boat-4 {
                    background-image: url('../images/boat@2x.png');
                }
            }

            .expand {
                display: flex;
                justify-content: center;
                
                .expand-btn {
                    text-align: center;
                    text-transform: uppercase;
                    cursor: pointer;
                    color: $p-color;
                    border: 1px solid $p-color;
                    border-radius: 5px;
                    background-color: transparent;
                    width: 300px;
                    height: 50px;
                    font-size: .8rem;
                    margin-top: 70px;
                }
            }
        }
    }
}

/* Boat Section (Desktop) */

@media screen and (min-width: 1024px) {
    .boat {
        max-width: 100%;

        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 12% 13%;

            .section-title {
                text-align: center;

                h1 {
                    font-family: 'Raleway', sans-serif;
                    font-size: 1.9rem;
                    font-weight: 300;
                    text-transform: uppercase;
                    padding-bottom: 15px;
                }

                h2 {
                    font-family: 'Open Sans', sans-serif;
                    color: $p-color;
                    font-size: 1.3rem;
                    font-weight: 300;
                    padding-top: 5px;
                }
            }

            .section-grid {
                display: grid;
                grid-template-columns: repeat(2, minmax(450px, 1200px));
                grid-auto-rows: minmax(350px, auto);
                margin-top: 55px;
                gap: 20px;
                
                .boat-item {
                    background-size: 100% 100%;
                    background-position: center;
                    border-radius: 5px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 300;
                    padding-bottom: 15px;
                    padding-top: 15px;
                    position: relative;
                    color: #fff;
                    
                    &:hover {
                        animation: move_up .2s ease-out forwards;
                    }

                    .boat-follower {
                        display: flex;
                        justify-self: center;
                        align-items: center;
                        background-color: $base-color;
                        width: 70px;
                        height: 40px;
                        border-radius: 5px;
                        font-size: .9rem;
                        position: absolute;
                        left: 15px;
                    }   

                    h1 {
                        position: absolute;
                        left: 15px;
                        top: 70%;
                        font-size: 2rem;
                    }

                    h2 {
                        position: absolute;
                        left: 15px;
                        top: 83%;
                        font-size: 1.5rem;
                    }
                }

                #boat-1 {
                    background-image: url('../images/boat@2x.png');
                }

                #boat-2 {
                    background-image: url('../images/boat@2x.png');
                }
    
                #boat-3 {
                    background-image: url('../images/boat@2x.png');
                }
    
                #boat-4 {
                    background-image: url('../images/boat@2x.png');
                }
    
                #boat-5 {
                    background-image: url('../images/boat@2x.png');
                }
            }

            .expand {
                display: flex;
                justify-content: center;
                
                .expand-btn {
                    text-align: center;
                    text-transform: uppercase;
                    cursor: pointer;
                    color: $p-color;
                    border: 1px solid $p-color;
                    border-radius: 5px;
                    background-color: transparent;
                    width: 300px;
                    height: 50px;
                    font-size: .8rem;
                    margin-top: 70px;
                }
            }
        }
    }
}

/* Footer Section (Mobile) */
@media screen and (max-width: 768px) {
    footer {
        background-color: #404040;
        max-width: 100%;
        height: 40vh;

        img {
            height: 6px;
        }

        .subscript-request {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 30vh;

            h1 {
                text-transform: uppercase;
                color: #fff;
                margin-bottom: 10px;
            }
            
            form {
                
                input {
                    width: 200px;
                    height: 35px;
                    border-radius: 5px;
                    border: transparent;
                }

                button {
                    text-transform: uppercase;
                    background-color: $base-color;
                    color: #fff;
                    height: 35px;
                    width: 100px;
                    border-radius: 5px;
                }
            }
        }
    }
}

/* Footer Section (Tablet) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    footer {
        background-color: #404040;
        max-width: 100%;
        height: 40vh;

        img {
            height: 6px;
        }

        .subscript-request {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 30vh;

            h1 {
                text-transform: uppercase;
                color: #fff;
                margin-bottom: 10px;
                font-size: 1.5rem;
            }
            
            form {
                
                input {
                    width: 250px;
                    height: 38px;
                    border-radius: 5px;
                    border: transparent;
                }

                button {
                    text-transform: uppercase;
                    background-color: $base-color;
                    color: #fff;
                    height: 38px;
                    width: 100px;
                    border-radius: 5px;
                }
            }
        }
    }
}

/* Footer Section (Desktop) */
@media screen and (min-width: 1024px) {
    footer {
        background-color: #404040;
        max-width: 100%;
        height: 40vh;

        img {
            height: 6px;
        }

        .subscript-request {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 30vh;

            h1 {
                text-transform: uppercase;
                color: #fff;
                margin-bottom: 10px;
                font-size: 1.8rem;
            }
            
            form {
                
                input {
                    width: 300px;
                    height: 40px;
                    border-radius: 5px;
                    border: transparent;
                }

                button {
                    text-transform: uppercase;
                    background-color: $base-color;
                    color: #fff;
                    height: 40px;
                    width: 100px;
                    border-radius: 5px;
                }
            }
        }
    }
}


/* Animation */
@keyframes move_up {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-2%);
        box-shadow: 2px 2px 10px gray;
    }
}
